# QA engine settings
QUESTION_ANSWERING_MODEL_ID=mock
EMBEDDING_MODEL_ID=hkunlp/instructor-large
INDEX_REPO_ID=KonradSzafer/index-instructor-large-812-m512-all_repos_above_50_stars
PROMPT_TEMPLATE_NAME=llama
USE_DOCS_FOR_CONTEXT=True
NUM_RELEVANT_DOCS=4
ADD_SOURCES_TO_RESPONSE=True
USE_MESSAGES_IN_CONTEXT=True
DEBUG=True

# Discord settings
DISCORD_TOKEN=your-bot-token
NUM_LAST_MESSAGES=1
USE_NAMES_IN_CONTEXT=False
ENABLE_COMMANDS=True

# App mode
APP_MODE=gradio
